<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 21 2014 18:07:54 GMT+0000 (UTC) -->
<html data-wf-site="52f06826a8b031ee5c0003d8">
<head>
  <meta charset="utf-8">
  <title>Conceptink - Artist</title>
  <meta name="description" content="ConceptInk is a page meant for both tattoo artists and clients. Are you looking to get a tattoo but don't know what you want? Get inspired or post a request.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/conceptink.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Bitter:400,700","Montserrat:400,700","Changa One:400","Open Sans:300,400,600,700,800","Droid Sans:400,700","Balthazar:regular"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52f06826a8b031ee5c0003d8/52f333d35d8eed2b6b000855_favicon.png">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="spacefiller regular"></div>
  <div class="articlesection">
    <h3 class="designheader articleheader"> {{name}} {{age}}</h3>
    <img class="artist-star-rating" src="{{rating}}" alt="52fd798fc5f87e8c21000c43_starrating.png">
    <div class="w-clearfix viewdesignsection artistwindow">
      <img class="vewdesignpicture profilepicture" src="{{imageUrl}}" alt="52f4508bbc0395d97100054c_katVD.jpg">
      <p class="aboutdesign-text aboutartist artistprofile">{{summary}}</p>
    </div>
  </div>
  <div class="portfolioslider-viewartist">
    <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask slidemask">
        <div class="w-slide slide1">
          <a class="w-inline-block designlink s1" href="./view-design"></a>
        </div>
        <div class="w-slide slide1">
          <a class="w-inline-block designlink s2" href="./view-design"></a>
        </div>
        <div class="w-slide slide1">
          <a class="w-inline-block designlink s3" href="./view-design"></a>
        </div>
        <div class="w-slide slide1">
          <a class="w-inline-block designlink s4" href="./view-design"></a>
        </div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left larrw"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right rarrw"></div>
      </div>
      <div class="w-slider-nav w-round portfolioscroll"></div>
    </div>
  </div>
  <div class="headersection">
    <a class="w-inline-block homebtn" href="./clienthome"></a>
    <a class="w-inline-block searchbtn" href="./artist-roster-skull"></a>
    <a class="w-inline-block requestsbtn" href="./yourrequests"></a>
    <a class="w-inline-block homelogobtn" href="./clienthome"></a>
    <a class="w-inline-block logoutbtn" href="./"></a>
    <a class="w-inline-block myprofilebtn" href="./clientprofile"></a>
  </div>
  <ul class="w-list-unstyled some">
    <li class="sociallist">
      <div class="w-clearfix base">
        <a class="w-inline-block twitter" href="http://www.twitter.com" target="_blank"></a>
        <a class="w-inline-block facebookblock" href="http://www.facebook.com" target="_blank"></a>
        <a class="w-inline-block emailblock" href="mailto:alex.fosseidbraaten@gmail.com?subject=ConceptInk%20Contact"></a>
        <a class="w-inline-block google-block" href="http://google.com" target="_blank"></a>
        <div class="copyright">© 2014 ConceptInk Ltd.</div>
      </div>
    </li>
  </ul>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script src="/js/introHCI.js"></script>
</body>
</html>








































<!-- <html data-wf-site="52f06826a8b031ee5c0003d8">
<head>
  <meta charset="utf-8">
  <title>Conceptink - Artist</title>
  <meta name="description" content="ConceptInk is a page meant for both tattoo artists and clients. Are you looking to get a tattoo but don't know what you want? Get inspired or post a request.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/conceptink.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Bitter:400,700","Montserrat:400,700","Changa One:400","Open Sans:300,400,600,700,800","Balthazar:regular"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52f06826a8b031ee5c0003d8/52f333d35d8eed2b6b000855_favicon.png"> -->
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
<!-- </head>
<body>
  <div>
    <div class="w-clearfix jumbo"><a class="requestbutton" href="./yourrequests">Requests</a>
      <a class="logobutton" href="./clienthome"></a>
    </div>
  </div>
  <div class="w-clearfix articlesection">
    <h3 class="articletitle">Kat Von D (31)</h3>
    <img class="articlepic-1" src="images/katVD.jpg" alt="52f4508bbc0395d97100054c_katVD.jpg">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
      rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
  </div>
  <div>
    <h4 class="portfoliotitle">Portfolio</h4>
    <div class="w-slider slider" data-animation="slide" data-duration="500" data-infinite="1">
      <div class="w-slider-mask slidemask">
        <div class="w-slide slide1"></div>
        <div class="w-slide kvdslide2"></div>
        <div class="w-slide kvdslide3"></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
  </div><a class="backtoartist" href="./artistroster">Back To Artist</a>
  <div class="w-clearfix base">
    <a class="w-inline-block twitter" href="http://www.twitter.com" target="_blank"></a>
    <a class="w-inline-block facebookblock" href="http://www.facebook.com" target="_blank"></a>
    <a class="w-inline-block emailblock" href="mailto:alex.fosseidbraaten@gmail.com?subject=ConceptInk%20Contact"></a>
    <a class="w-inline-block google-block" href="http://google.com" target="_blank"></a>
    <div class="copyright">© 2014 ConceptInk Ltd.</div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html> -->